h1 {
  display: block;
  font-size: 4em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: green;
}

h2 {
  color: blue;
}

.heroku p {
	color: red;
}

p {
	color: DarkGreen;
}
.titleFont span {
	color: purple;
}